* {
    margin: 0;
}

html {
    
    background-color: gainsboro;
}

header {
    background-color: rgb(37, 37, 37);
    padding: 10px;
}

nav {
    display: inline-block;
}

.logo{
    display: inline-block;
}

li {
    display: inline-block;
}

aside.autenticacao{
    float: right;
}

img {
    width: 60%
}